@tailwind base;
@tailwind components;
@tailwind utilities;

/* #42A5F5 */

@layer utilities {


  .container1 {
    @apply   mx-12 px-2 ;
    
  
  }


}



body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.65;
    word-break: break-word;
    font-kerning: auto;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    hyphens: auto;
  }
  
  
@font-face {
  font-family:DroidSansMono;
  src:url('../public/Header.ttf');
  }

  div.CodeMirror {
    height:100%;
    /* background:#fff; */
    /* color:"#42A5F5"; */
    padding:0px;
    margin:0px;
    font:12px/55px DroidSansMono;
    /* font-size: 44px; */
    }
  
    .gradient {
      background: linear-gradient(
      90deg, rgba(10,78,113,1) 16%, rgba(13,13,157,1) 52%, rgba(132,234,255,1) 90%
      );
      width: 100%;
      animation: animateHeader 7s linear infinite;
      background-size: 250% 150%;
    }
    


    @keyframes animateHeader {

      0% {
        background-position: 0%;
      }
      50% {
        background-position: 50%;
      }

      100% {
        background-position: 100%;
      }
    }

    /* .slick-dots li button:before {
      width:13px !important; 
      height:13px !important; 
      color: #1520ed !important;
      border-radius: 10px;
      font-size: 15px !important;
      opacity: 0.7;
    }

    .slick-dots li.slick-active button:before {
      width:13px !important; 
      height:13px !important; 
      color: blue !important;
      border-radius: 10px;
      font-size: 15px !important;
    } */


    .slick-dots li.slick-active button:before {
      color: #1520ed !important;
      /* display: flex; */
      justify-content: center;
      font-size: 16px !important;
      align-items: center;
      padding-top: 0;
      padding-left: 0;
      opacity: 1 !important;
    }
    .slick-dots li button:before {
      width: 18px !important;
      height: 18px !important;
      font-size: 16px !important;
      color: #1520ed !important;
      border: 1px solid rgb(15, 52, 96);
      border-radius: 10px;
      opacity: 0.5 !important;
    }
    